@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
/* 50: '#C7E8E8',
100: '#3E9A98',
200: '#298988',
300: '#187877',
400: '#0A6866',
500: '#005654',
600: '#004E4D',
700: '#004544',
800: '#003D3C',
900: '#003433',
1000: '#002B2B',
disabled: '#002322' */
::-webkit-scrollbar-thumb {
    background: #3e9a98;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #187877;
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100); 
    overflow: hidden;
    /* min-height: calc(var(--vh, 1vh) * 100); */
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* min-height: calc(var(--vh, 1vh) * 100); */
}

@media (min-width: 768px) {
    #root {
        /* min-height: 100vh; */
    }
}
